* {
  margin: auto;
  background-color: hsl(47, 88%, 63%);
  
}


.outer {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1400px;
  height: 1000px;
 
  
}
.inner {
  margin:auto;
  align-items: center;
  width: 300px;
  height: 450px;
  background-color: white;
  border-radius: 30px;
  padding: 40px;
  border: solid black;
  box-shadow: 8px 8px;
}
.image {
  width: 20rem;
  border-radius: 13px;
  margin-bottom: 15px;
  
}
.learn {
  border : solid hsl(47, 88%, 63%);
  display: inline;
  background-color: hsl(47, 88%, 63%);
  padding: 5px;
  border-radius: 5px;
}

h1 {
  font-size: 22px;
  line-height: 45px;
  background-color: white;
}
.date {
  line-height: 45px;
  background-color: white;
}
.man {
  margin-bottom: 22px;
  background-color: white;
}

.greg {
  position: absolute;
  top: 30rem;
  left: 40rem;
  background-color: white;
  
   
}

.image1 {
  background-color: white;
}